<div class="container">
    <figure class="snip0056">
        <figcaption>
        <p>Je m'appelle Adeline Guédin, j'ai 29 ans et je suis en reconversion professionnelle dans le domaine du développement informatique depuis septembre 2022. Actuellement en stage, j‘ai l’opportunitée d'approfondir mes connaissances et de mettre en pratique mes nouvelles compétences. Ce portfolio présente mes projets, compétences techniques et expériences professionnelles antérieures. Je suis passionnée par le développement informatique et toujours prête à relever de nouveaux défis. Contactez-moi pour toute collaboration ou pour en savoir plus sur mon parcours.<br> 
            Adeline Guédin</p>
        </figcaption><img src="../../../assets/portfolio/photo_cv.jpg" alt="photo_profil" />
    </figure>
</div>