<app-divider [text]="'Expèriences'"></app-divider>
    <div class="contenair">
        <div class="row">
            <div class="col">
                <app-xp-cards  [entreprise]="'WMG Studio'" [poste]="'Stagière développeur web'"></app-xp-cards> 
            </div>
            <div class=" col">
                <app-xp-cards  [entreprise]="'Boulanger'" [poste]="'Conseillère services clients'"></app-xp-cards>
            </div>
            <div class="col">
                <app-xp-cards  [entreprise]="'Intermarché'" [poste]="'Hôtesse de caisse'"></app-xp-cards>
            </div>
            <div class="col">
                <app-xp-cards  [entreprise]="'Téléperformance'" [poste]="'Téléconseillère'"></app-xp-cards>
            </div>
            <div class="col">
                <app-xp-cards  [entreprise]="'Ariston Coiffure'" [poste]="'Coiffeuse'"></app-xp-cards>
            </div>
        </div>
    </div>