<app-divider></app-divider>
<div class="introduction">
    <img src="../assets/portfolio/photo_cv.jpg" alt="photo_cv" class="float">
    <p>Bonjour !<br>
         Je m'appelle Adeline Guédin, j'ai 29 ans et je suis en reconversion professionnelle dans le domaine du développement informatique depuis septembre 2022. Actuellement en stage, j‘ai l’opportunitée d'approfondir mes connaissances et de mettre en pratique mes nouvelles compétences. Ce portfolio présente mes projets, compétences techniques et expériences professionnelles antérieures. Je suis passionnée par le développement informatique et toujours prête à relever de nouveaux défis. Contactez-moi pour toute collaboration ou pour en savoir plus sur mon parcours.<br> 
        Adeline Guédin</p>
</div>  
    <p id="english">Hello !<br>
        My name is Adeline Guédin, I'm 29 years old and I'm in professional reconversion in the field of computer development since September 2022. Currently in internship, I have the opportunity to deepen my knowledge and to put into practice my new skills. This portfolio presents my projects, technical skills and previous professional experiences. I'm passionate about IT development and always ready to take on new challenges. Contact me for any collaboration or to learn more about my background.<br>
        Adeline Guédin</p>   