// INTRODUCTION & PICTURE
.introduction{
    margin-left: 200px;
    font-family: 'handlee';
}

.introduction p{
    background-color:#7bc59c;
    margin-right: 405px;
    padding: 9px;

}

.float{
    width: 184px;
    float: right;
    margin-right: 200px;
    margin-left: 20px;
}

#english{
    background-color:#7bc59c;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    padding: 9px;
    font-family: 'handlee';

}

