<div class="menufixe activeMenu">    
    <div class="page">
        <nav class="page__menu page__custom-settings menu">
            <ul class="menu__list r-list menu__group">
                <li class="menu__group"><a [routerLink]="['/profil/']"  class="menu__link r-link text-underlined">Profil</a></li>
                <li class="menu__group"><a [routerLink]="['/competences/']"  class="menu__link r-link text-underlined">Compétences</a></li>
                <li class="menu__group"><a [routerLink]="['/experiences/']" class="menu__link r-link text-underlined">Expèriences</a></li>
                <li class="menu__group"><a [routerLink]="['/portfolio/']" class="menu__link r-link text-underlined">Portfolio</a></li>
            </ul>
        </nav>
    </div>
</div>    