<div class="menufixe activeMenu">    
    <div class="page">
        <nav class="page__menu page__custom-settings menu">
            <ul class="menu__list r-list menu__group">
                <li class="menu__group"><a href="../ACCUEIL/accueil.html" class="menu__link r-link text-underlined">Profil</a></li>
                <li class="menu__group"><a href="../GALERIE/galerie.html" class="menu__link r-link text-underlined">Compétences</a></li>
                <li class="menu__group"><a href="../TARIFS/tarifs.html" class="menu__link r-link text-underlined">Expèriences</a></li>
                <li class="menu__group"><a href="../BOUTIQUE/boutique.html" class="menu__link r-link text-underlined">Portfolio</a></li>
            </ul>
        </nav>
    </div>
</div>    