<div class="menufixe activeMenu">    
    <div class="page">
        <nav class="page__menu page__custom-settings menu">
            <ul class="menu__list r-list menu__group">
                <li class="menu__group"><a [routerLink]="['/profil/']"  class="menu__link r-link text-underlined">Profil</a></li>
                <li class="menu__group"><a [routerLink]="['/competences/']"  class="menu__link r-link text-underlined">Compétences</a></li>
                <li class="menu__group"><a [routerLink]="['/experiences/']" class="menu__link r-link text-underlined">Expèriences</a></li>
                <li class="menu__group"><a [routerLink]="['/portfolio/']" class="menu__link r-link text-underlined">Portfolio</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- BURGER -->
<div class="activeBurger">
    <input type='checkbox' id='toggle' style='display:none;'/>
    <label class='toggle-btn toggle-btn__cross' for='toggle' >
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    </label>
    <nav id="burgerNav" [ngClass]="click==true ? 'disable':'' ">
    <ul>
        <li><a [routerLink]="['/profil/']"  (click)="disableNav()">Profil</a></li>
        <li><a [routerLink]="['/competences']" >Compétences</a></li>
        <li><a [routerLink]="['/experiences/']" >Expèriences</a></li>
        <li><a [routerLink]="['/portfolio/']" >Portfolio</a></li>
    </ul>
    </nav>
</div>    

