/* ADAPTATION MOBILE MENU*/
.activeBurger{
  display: none;
}
.activeMenu{
  display: grid;
}
@media all and (max-width:900px){
  .activeBurger{
    display: grid;
    margin-bottom: 50px;
  }
  .activeMenu{
    display: none;
  }
}
// MENU FIXE //
.r-link{
    display: var(--rLinkDisplay, inline-flex) !important;
  }
  
  .r-link[href]{
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
  }
  
  .r-list{
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
    display: flex;
    justify-content: space-around;
    
  }
  
  
  /*
  =====
  CORE STYLES
  =====
  */
  
  .menu{
    --rLinkColor: var(--menuLinkColor, currentColor);
  }
  
  .menu__link{
    display: var(--menuLinkDisplay, block);
    font-family: 'Handlee';
    font-weight: 100 !important;
  }
  
  /* 
  focus state 
  */
  
  .menu__link:focus{
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
  }
  
  /* 
  fading siblings
  */
  
  .menu:hover .menu__link:not(:hover){
    --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
  }
  
  /*
  =====
  PRESENTATION STYLES
  =====
  */
  
  .menu{
    background-color: var(--menuBackgroundColor, #e01b1b);
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  }
  
  .menu__list{
    display: flex;  
  }
  
  .menu__link{
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
  }
  
  /* 
  =====
  TEXT UNDERLINED
  =====
  */
  
  .text-underlined{
    position: relative;
    overflow: hidden;
  
    will-change: color;
    transition: color .25s ease-out;  
  }
  
  .text-underlined::before, 
  .text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
  
    will-change: width;
    transition: width .1s ease-out;
  
    position: absolute;
    bottom: 0;
  }
  
  .text-underlined::before{
    left: 50%;
    transform: translateX(-50%); 
  }
  
  .text-underlined::after{
    right: 50%;
    transform: translateX(50%); 
  }
  
  .text-underlined:hover::before, 
  .text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
  }
  
  /*
  =====
  SETTINGS
  =====
  */
  
  .page__custom-settings{
    --menuBackgroundColor: #89c4a6;
    --menuLinkColor: white;
    --menuLinkColorUnactive: white;
    --menuLinkOutlineOffset: -.5rem; 
  }
  
  /*
  =====
  DEMO
  =====
  */
  
  .menufixe{
    margin-bottom: 50px;
  }
  
  .page{
    box-sizing: border-box;
  
  }
  
  .substack{
    border:1px solid #EEE; 
    background-color: #fff;
    width: 100%;
    max-width: 480px;
    height: 280px;
    margin: 1rem auto;;
  }
  
  .linktr{
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    text-align: center;
  }
  // BURGER //

  :root {
    font-size:16px;
  }
  
  $th_gold:#e4daa1;
  $th_dark:#7bc59c;
  

    #burgerNav {
      background-color:#6a9e83;
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      opacity:0;
      visibility:hidden;
      transition:all 0.3s ease-in-out;
      
      ul {
        list-style-type:none;
        padding:0;
        margin:0;
        position:absolute;
        left:50%;
        top:170px;
        transition:all 0.3s ease-in-out;
        transform:translateX(-50%);
      
        li {
          transform:translateY(50px);
          opacity:0;
          font-family: 'italianno';
          
          a {
            display:block;
            font-size:3em;
            text-decoration:none;
            padding:10px 0;
            text-align:center;
            color:#fff;
  
            transition:all 0.2s ease-in-out;
            text-shadow:1px 1px 2px rgba(0,0,0,.5);
            
            &:hover {
              color:$th_gold;
            }
          }
        }
      }
    }
  
  .toggle-btn {
    display:block;
    position:fixed;
    z-index:10;
    right:10px;
    top:10px;
    cursor:pointer;
    
    .bar {
      width:30px;
      height:2px;
      margin:7px auto;
      background-color:#fff;
      transition:all 0.3s ease-in-out;
      box-shadow:0 0 3px 1px rgba(0,0,0,.3);
      
      &:nth-child(2) {
        width:20px;
      }
    }
  }
  .disable{
    opacity:0 o !important;
    visibility:hidden !important;
    z-index: -9 !important;
  }
  #toggle:checked {
    &~nav {
      opacity:1;
      visibility:visible;
      z-index: 9;
  
      ul {
        top:70px;
        
        li {
          transform:translateY(0px);
          opacity:1;
  
          @for $i from 1 through 4 {
              $t: $i * 0.1;
              &:nth-child(#{$i}) {
                transition:all 0.3s cubic-bezier(.6,0,.8,1.5) #{$t}s; 
              }
            }
        }
      }
    }
    
    &+label.toggle-btn {
      .bar {
        background-color:white;
  
        &:nth-child(2) {
          transform:translateX(50px);
          opacity:0;
        }
  
        &:nth-child(1) {
          transform:translateY(10px) rotate(45deg);
        }
  
        &:nth-child(3) {
          transform:translateY(-8px) rotate(-45deg);
        }
      }
    }
  }