<app-divider [text]="'Compétences'"></app-divider>
<div class=container>
    <div class=card-left>
        <div class=card-image>
            <img src="../../../assets/competences/HTML.jpg" alt="HTML">
        </div>
        <div class=card-text>
            <p> Création d'un site internet.</p>
        </div>  
    </div>  
    <div class=card-top>
        <div class=card-image>
            <img src="../../../assets/competences/CSS.jpg" alt="CSS">
        </div>
        <div class=card-text>
            <p> Styliser un site internet.</p>
        </div> 
    </div>       
    <div class=card-right>
        <div class=card-image>
            <img src="../../../assets/competences/ANGULAR.jpg" alt="AGULAR">
        </div>
        <div class=card-text>
            <p> Apprentissage d'Angular en cours.</p>
        </div>
    </div>  
    <div class=card-right>
        <div class=card-image>
            <img src="../../../assets/competences/SAV.jpg" alt="SAV">
        </div>
        <div class=card-text>
            <p> Gestion des dossiers litiges, négociation des solutions commerciales, boites mails.</p>
        </div>
    </div>        
    <div class=card-top>
        <div class=card-image>
            <img src="../../../assets/competences/ALGO JAVA.jpg" alt="algorithmique/javascript">
        </div>
        <div class=card-text>
            <p> Notions d'algorithmique et javascript.</p>
        </div>
    </div>    
    <div class=card-bottom>
        <div class=card-image>
            <img src="../../../assets/competences/INTERIMAIRES.jpg" alt="interimaires">
        </div>
        <div class=card-text>
            <p> Contrats, relevés d'heures et relation commerciales.</p>
        </div>
    </div>    
    <div class=card-left>
        <div class=card-image>
            <img src="../../../assets/competences/CLIENTS.jpg" alt="clients">
        </div>
        <div class=card-text>
            <p> Courriers et relances.</p>
        </div>
    </div>    
    <div class=card-bottom>
        <div class=card-image>
            <img src="../../../assets/competences/ACCUEIL.jpg" alt="accueil">
        </div>
        <div class=card-text>
            <p> Accueil physique et téléphonique.</p>
        </div>    
    </div>        
    <div class=card-right>
        <div class=card-image>
            <img src="../../../assets/competences/BESOINS CLIENTS.jpg" alt="besoins clients">
        </div>
        <div class=card-text>
            <p> Analyse et découverte des besoins clients.</p>
        </div>  
    </div>  
    <div class=card-right>   
        <div class=card-image>
            <img src="../../../assets/competences/TACHES ADMIN.jpg" alt="taches">
        </div>
        <div class=card-text>
            <p> Gestion des plannings pour 14 collaborateurs.</p>
        </div>    
    </div>    
</div>      